*{
    margin: 0;
    padding: 0;
}
body{ 
    font-family: 'Alef', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
}
.navbar{
    background-color: rgb(153, 129, 174);
    padding: 10px;
    text-align: center;
}
.container{
    padding: 100px;
    background-color: rgb(175, 160, 188);
}
.book-container{
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    width:25%;
    background-color: rgb(153, 129, 174);
    color: black;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.book-container h2{
    color:rgb(5, 5, 5);
}  

.book-container button{
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.add-button{
    background-color: rgb(163, 77, 161);
    color: aliceblue;
    border-radius: 100%;
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup-box{
    background-color: rgb(243, 197, 243);
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    display: none;
}

.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-box textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: wheat;
    margin: 5px;
}

.popup-box input:focus{
    outline: none;
}
.popup-box text:focus{
    outline: none;
}